.bookContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    
    
    
}

.image{
    width: 260px;
    height: 400px;
    flex: 1;
    
}


.rank{
    text-align: left;
    color: black;
    padding-left: 10px;
    font-size: .8rem;
    font-weight: 900;
   
}

.title{
    font-weight: 900;
    margin-top: 8px;
    padding-left: 10px;
    font-size: .8rem;
    height: 16px;
    overflow: hidden;
}

.author {
    
    padding-left: 10px;
    font-size: .8rem;
    font-weight: 900;
    height: 20px;
    overflow: hidden;
    
}
.description {
    text-align: left;
    padding-left: 10px;
    font-size: .8rem;
    height: 60px;
    overflow: scroll;

}

.linksbtn{
    margin-bottom: 1.5rem;   
}

@media (max-width: 700px) {
    .image {
        width: 340px;
        height: 480px;

    }
}