.bookContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    
    
    
}

.image{
    width: 160px;
    flex: 1;
    
}


.rank{
    text-align: left;
    color: black;
    padding-left: 10px;
    font-size: .8rem;
    font-weight: 900;
   
}



.title{
    margin-top: 8px;
    text-align: left;
    padding-left: 10px;
    font-size: .8rem;
}

.author {
    text-align: left;
    padding-left: 10px;
    font-size: .8rem;
    font-weight: 900;
    
}
.description {
    text-align: left;
    padding-left: 10px;
    font-size: .8rem;
    font-weight: 900;
    flex: 1;

}

.linksbtn{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;   
}