#root {
  max-width: 1380px;
  margin: 0 auto;
  text-align: center;
  padding: 0;
   
}

*{
  box-sizing: border-box;
}

.body{
  display: grid;
  grid-template-columns: 20% 80%;
  column-gap: 20px;
  padding: 20px;
  padding: 0;
}

header{
margin-bottom: 10px;
object-fit: cover;

}
.hamburger{
  text-align: left;
  padding-left: 20px;
  margin-left: 10px;
  margin-top: 10px;
  width: 40px;
  height: 20px;
  display: block;
  height: 26px;
  width: 55px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}


.line {
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #000000;
  display: none;
}

.wrapper{
  position: relative;
}

.toptext{
  position: absolute;
  bottom: 50px;
  left: 10px;
  color: white;
}

.goback{
  margin-top: 50px;
}

@media (max-width: 700px){

.body {
  grid-template-columns: 100%;
  column-gap: 10px;
  padding: 20px;
                  }

.line {
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #000000;
  display: block;
}

.topImage{
  display: none;
  
}

.toptext {
  position: absolute;
  top: 10px;
  right: 10px;
  color: rgb(4, 4, 4);
}

}
